---
---

@import "{{ site.theme }}";

section {
  border: none;
  h2 {
    border-bottom: 1px solid #e5e5e5;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  h2:first-child {
    padding-top: 0px;
  }
}

